.back-container{
    position: relative;
}
.front-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.front-container1{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.back-top{
    background-color:#3bc9b8;
    height: 50px;
}
.back-main{
    background-color: rgb(243, 240, 240);
    height:650px;
}
.chat-top{
    background-color: whitesmoke;
    min-height: 50px;
}
.profile-image{
    height: 40px;
    width: 40px;
    margin-top: 5px;
}
.contacts{
    background-color: #ffffff;
    min-height: 600px;
}
   
.contact-table-scroll{
    overflow-y: scroll;
    height: 600px;
}
   
.message-area{
    background-color:  #e4e1de;
    height: 600px;
}

#c1
{
  background-image: url('asset/b.png');
  background-size: 100% 100%;
}
.message-table-scroll{
    overflow-y:auto;
    height: 550px;
}
   
.message-box{
    background-color: #F0F0F0;
    
}
@media only screen and (max-width:576px) {
    #c1{
        display: none;
    }
    #rcorners3 {
        margin-left: 10px;
    }
    .btn{
        margin-left: 10px;
    }
}
#rcorners3 {
  margin-left: 60px;
  border-radius: 100%;
  background-image: url('asset/Arnold.jpg');
  background-size: 100% 100%;
  padding: 20px; 
  width: 200px;
  height: 200px;
}
